<div class="container-fluid">

    <div class="row">
        <aside class="col-md-3">
            <!-- <nav class="navbar navbar-expand-md navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="sidebarMenu"> -->
                    <ol class=" bg-body-tertiary p-2 ps-4">
                        <li class="nav-item active pt-5">
                            <a class="nav-link" href="/page/interfaces/intro">Интро</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/page/interfaces/applying">Применение интерфейсов в ООП на PHP</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/page/interfaces/parameters">Параметры в методах интерфейсов в ООП на PHP</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/page/interfaces/inheritance-from-interface">Наследование интерфейсов друг от друга</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/page/interfaces/nstanceof">Интерфейсы и instanceof в ООП на PHP</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/page/interfaces/several-interfaces-implementation">Несколько интерфейсов в ООП на PHP</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/page/interfaces/inheritance-and-implementation">Наследование от класса и реализация интерфейса</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/page/interfaces/constants">Константы в интерфейсе в ООП на PHP</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/page/interfaces/functions">Функции для работы с интерфейсами в ООП на PHP</a>
                        </li>
                    </ol>
                <!-- </div>
            </nav> -->
        </aside>
        <div class="col-md-9">
            
            {{ main }}
        </div>
    </div>
</div>