<div class="container-fluid">

    <div class="row">
        <aside class="col-md-2">
            <!-- <nav class="navbar navbar-expand-md navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="sidebarMenu"> -->
                    <ul class="navbar-nav bg-body-tertiary p-2">
                        <li class="nav-item active pt-5">
                            <a class="nav-link" href="/page/oop/intro">Интро</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/page/oop/properties">Работа со свойствами объектов на PHP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/page/oop/methods">Работа с методами объектов</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/page/oop/properties-and-this">Обращение к свойствам класса через $this</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/page/oop/methods-and-this">Обращение к методам класса через $this</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/page/oop/access-modifiers-public-and-private">Модификаторы доступа public и private в PHP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/page/oop/constructor">Конструктор объекта в ООП на PHP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/page/oop/getters-and-setters">Работа с геттерами и сеттерами в ООП на PHP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/page/oop/read-only-properties">Свойства только для чтения в ООП на PHP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/page/oop/one-class-one-file">Хранение классов в отдельных файлах в PHP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/page/oop/objects-in-array">Хранение объектов в массивах в ООП на PHP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/page/oop/constructor-initial-properties-values">Начальные значения свойств в конструкторе</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/page/oop/declaring-initial-properties-values">Начальные значения свойств при объявлении</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/page/oop/variable-properties-names">Переменные названия свойств объектов в PHP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/page/oop/variable-methods-names">Переменные названия методов</a>
                        </li>
                    </ul>
                <!-- </div>
            </nav> -->
        </aside>
        <div class="col-md-10">
            
            {{ main }}
        </div>
    </div>
</div>