<div class="container-fluid">

    <div class="row">
        <aside class="col-md-3">

            <ol class=" bg-body-tertiary p-2 ps-4">
                <li class="nav-item active pt-5">
                    <a class="nav-link" href="/page/practice/date">Класс Date в ООП на PHP</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/page/practice/interval">Класс Interval в ООП на PHP</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/page/practice/file">Класс file в ООП на PHP</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/page/practice/tag">Класс Tag</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/page/practice/tag-attributes">Атрибуты тегов в классе Tag</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/page/practice/method-chains">Методы цепочкой в классе Tag</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/page/practice/attributes-via-array">Массовое добавление атрибутов в классе Tag</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/page/practice/attributes-without-value">Атрибуты без значения в классе Tag</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/page/practice/methods-call-after-object-creation">Вызов методов сразу после создания объекта Tag</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/page/practice/css-classes">CSS классы в классе Tag</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/page/practice/additional-methods">Дополнительные методы класса Tag</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/page/practice/final-code">Окончательный вариант класса Tag</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/page/practice/Image">Класс Image</a>
                </li>

            </ol>

        </aside>
        <div class="col-md-9">
            
            {{ main }}
        </div>
    </div>
</div>