<div class="container-fluid">

    <div class="row">
        <aside class="col-md-3">

            <ol class=" bg-body-tertiary p-2 ps-4">
                <li class="nav-item active pt-5">
                    <a class="nav-link" href="/page/traits/intro">Интро</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/page/traits/methods-conflicts">Разрешение конфликтов в трейтах</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/page/traits/methods-conflicts">Модификаторы доступа и трейты</a>
                </li>
            </ol>

        </aside>
        <div class="col-md-9">
            
            {{ main }}
        </div>
    </div>
</div>